<h1 style="text-align:center;">Admin View Panel</h1>

<div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <button (click)="openHomePage()" class="uk-button uk-primary-button">Homepage</button>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <button (click)="openArticlesView()" class="uk-button uk-primary-button">Admin Articles View</button>
        </div>
    </div>

</div>